<ion-header>
<ion-navbar>
    <ion-title>Sales summary</ion-title>
    <button *ngIf="!toggled" ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-searchbar *ngIf="toggled" [(ngModel)]="searchTerm" [showCancelButton]="true" (ionCancel)="toggleSearch()" (ionInput)="triggerInput($event)"></ion-searchbar>
      <ion-list *ngIf="toggled">
          <ion-item *ngFor="let item of items" (click)="showMarket(item.id)">
              {{item.title}}
          </ion-item>
      </ion-list>
      <!-- Search Icon -->    
      <ion-buttons end *ngIf="!toggled">
        <button ion-button icon-only (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
